@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  background-color: #C0E0DE;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #3C474B !important;
}

.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #3C474B;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.section-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  background-color: #3C474B;
}
.section-preview p {
  background-color: #3C474B;
  color: white;
}

.section-preview:hover {
  box-shadow: 0 0 10px white;;
  
}
.section-preview h2 {
  font-size: 20px;
  color: white;
  background-color: #3C474B;

  margin-bottom: 8px;
}


.section-preview a{
  text-decoration: none;
}

.project-details h2 {
  font-size: 20px;
  color:rgb(102, 131, 151);
  margin-bottom: 10px;
}
.project-details div {
  margin: 20px 0;
}
.section-preview img {
  width: 100%;
  height: auto;
  margin: 20px 0;
}
.project-details img {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
}

input {
  width: 100%;
  height: 35px;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(2, 0, 0);

  &:focus {
    border: 2px solid rgba(0, 206, 158, 1);
  }
}

textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(8, 0, 0);

  &:focus {
    border: 2px solid rgba(0, 206, 158, 1);
  }
}

.submitBtn  {
  margin-top: 2rem;
  cursor: pointer;
  background: rgb(102, 131, 151);
  color: white;
  border: none;
}
.footer {
  background-color: #3C474B !important;
}
.footer a {
  background-color: #3C474B !important;
}
.footer a img {
  background-color: #3C474B !important;
  color: white;
}

.icon:hover {
  filter: brightness(5) invert(5);
}